@media (max-width: 900px) {
  .texto {
    flex-wrap: wrap; /* Permite que el nav baje */
    justify-content: space-between;
    align-items: center;
  }

  .texto h1 {
    font-size: 28px;
  }

  /* Muestra la hamburguesa */
  .menu-toggle {
    display: flex;
  }

 /* Oculta el menú por defecto */
  .nav-principal {
    display: none; /* Oculto hasta que le den clic */
    width: 100%; /* Ocupa todo el ancho debajo */
    order: 3; /* Se va debajo del título y la hamburguesa */
  }

  /* Cuando tiene la clase .activo, se muestra */
  .nav-principal.activo {
    display: block;
  }

  .nav-principal ul {
    flex-direction: column; /* Botones en columna */
    width: 100%;
    gap: 0;
    margin-top: 15px;
  }

  .nav-principal li {
    width: 100%;
  }
#sobre-mi h2{
    text-align: center;
  }
    .sobre-mi-cont {
    flex-direction: column; /* Imagen arriba, texto abajo */
    align-items: center; /* Centra la foto */
    gap: 20px;
  }
  .sobre-mi-tex{
    padding-top: 0;
  }
  .sobre-mi-tex p {
    text-align: center; /* Texto centrado se ve mejor en móvil */
    font-size: 16px;
  }
  .foto-perfil{
    width: 140px;
    height: 140px;
  }

  .nav-principal a {
    display: block; /* Que todo el botón sea clickeable */
    text-align: center;
    padding: 12px;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 215, 0, 0.3);
  }
  
  .nav-principal li:last-child a {
    border-bottom: none;
  }

  body {
    background-attachment:scroll;
  }
}