<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/styles.css">
    <link rel="stylesheet" href="/src/css/mascotas.css">
    <title>Mascotas</title>
</head>

<body class="fondo">
    <header>
        <h1 class="titulo">Mis mascotas</h1>

    </header>
    <main>
        <section class="mascota-card">
            <img src="/public/img/kirby.webp" alt="kirby" class="mascota-img">
            <article>
                <h2>Kirby</h2>
                <div class="parrafo">
                    <p>Mi pequeña mascota rosada, siempre alegre y con una energía contagiosa. Le encanta comer a cada
                        rato,
                        como si nunca se llenara, y a veces se mete en problemas por su curiosidad. Cuando lo veo rodar
                        por
                        ahí o hacer sus sonidos tiernos, no puedo evitar sonreír. Aunque es pequeño, siento que tiene un
                        gran corazón,y siempre logra alegrarme el día con su forma tan única de ser.</p>
                </div>
            </article>
        </section>
        <section class="mascota-card">
            <img src="/public/img/agumon.webp" alt="agumon" class="mascota-img">
            <article>
                <h2>Agumon</h2>
                <div class="parrafo">
                    <p>Siempre a mi lado con esa mezcla de valentía y ternura que lo hace especial.
                        Le encanta comer y a veces se emociona tanto que parece un niño pequeño, pero cuando hace falta,
                        muestra lo fuerte y protector que puede ser.
                        Me gusta verlo caminar conmigo, confiado, como si supiera que juntos podemos con todo. Aunque a
                        veces sea travieso, su lealtad y su forma de mirarme hacen que lo quiera como a un verdadero
                        compañero.</p>
                </div>
            </article>
        </section>
        <section class="mascota-card">
            <img src="/public/img/pochita.webp" alt="pochita" class="mascota-img">
            <article>
                <h2>Pochita</h2>
                <div class="parrafo">
                    <p>Pochita es mi mascotica, pequeña y súper tierna.
                        Siempre anda conmigo para todos lados, moviendo la colita y buscando que le dé cariño.
                        Aunque es una motosierra viviente, conmigo es bien tranquila y juiciosa… es como mi perrito,
                        pero más única.</p>
                </div>
            </article>
        </section>
        <section class="mascota-card">
            <img src="/public/img/bong.webp" alt="bong" class="mascota-img">
            <article>
                <h2>Bong</h2>
                <div class="parrafo">
                    <p>Bong es chiquito, redondito como un mini planeta, y siempre anda conmigo flotando para todos
                        lados.
                        Me encanta porque es curioso y a veces hace cosas raras que dan risa, pero igual siempre
                        acompaña.
                        Es como tener un pedacito del espacio conmigo.</p>
                </div>
            </article>
        </section>
        <section class="mascota-card">
            <img src="/public/img/riolu.webp" alt="riolu" class="mascota-img">
            <article>
                <h2>Riolu</h2>
                <div class="parrafo">
                    <p>Riolu es tranquilo pero fuerte.
                        Siempre anda conmigo, atento a todo, como si entendiera lo que siento.
                        A veces es serio, pero es muy leal y protector, como un compañero que nunca me falla.</p>
                </div>
            </article>
        </section>
        <section class="mascota-card">
            <img src="/public/img/yoshi.webp" alt="yoshi" class="mascota-img">
            <article>
                <h2>Yoshi</h2>
                <div class="parrafo">
                    <p>Yoshi es como mi mascotica alegre y juguetona.
                        Siempre está brincando y listo para la aventura, y me hace reír con sus ocurrencias.
                        Es súper amigable y se siente como tener un amigo divertido que nunca se aburre.</p>
                </div>
            </article>
        </section>

        <a href="/index.html">
            <h3>Volver a Portafolio</h3>
        </a>
    </main>

</body>

</html>